.headerContainer {
    display: inline-flex;

}


.header {
    grid-area: h;
    /*width: 100vh;*/
    background-color: green;

}

.header img {
    width: 100px;
}

/*.loginBlock {*/
/*    float: right*/
/*}*/

.loginBlock a {
    color: white;
}
